@import "../../../styles/global.css";

.DashAdmin {
    font-family: var(--font-primary);
    padding: var(--padding-page);
    margin: var(--margin-page);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.title {
    margin-top: 120px;
    font-size: 2rem;
    color: var(--red-primary);
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
} 

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;  /* Sidebar más pequeño */
    grid-template-rows: auto 1fr;  /* La segunda fila crece automáticamente */
    align-items: start;
    padding: 20px;
}

.cardsContainer {
    display: flex;
    flex-direction: column; 
    gap: 20px;              
    margin-bottom: 30px;    
}


.subtitle {
    font-size: var(--font-subtitle);
    color: var(--red-primary);
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -10px;  /* Ajusta según sea necesario */
}

.sidebar {
    margin-top: 70px;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(224, 224, 224);
    padding: 12px;
    gap: 24px;
    border-radius: 16px;
    width: 168px;
    align-self: start;
}

.button {
    width: 90%;
    padding: 10px;
    background: #e71010;
    color: var(--white);
    font-size: var(--font-text);
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    
}

.button:hover {
    background: var(--red-secundary);
    transform: scale(1.1); 
}


.statsPanel {
    grid-column: 2;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid var(--border);
    padding: 30px;
    height: 70%;
    width: 100%;
    align-self: stretch;
    margin-left: -100px;
    margin-right: 30px;
    background: rgb(224, 224, 224);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.statsTitle {
    font-size: 1.8rem;
    color: var(--red-primary);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.statsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

.statCard {
    background: white;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    height: 160px; /* Aumentamos la altura */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statCard:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    
}

.statCard h3 {
    font-size: 1.2rem;
    color: var(--font-primary);
    margin-bottom: 10px;
}

.statCard p {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--red-primary);
}
